<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Book_CRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookInsertController</display-name>
    <servlet-name>BookInsertController</servlet-name>
    <servlet-class>com.controller.BookInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInsertController</servlet-name>
    <url-pattern>/bookinsertcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListController</display-name>
    <servlet-name>BookListController</servlet-name>
    <servlet-class>com.controller.BookListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListController</servlet-name>
    <url-pattern>/booklistcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookController</display-name>
    <servlet-name>DeleteBookController</servlet-name>
    <servlet-class>com.controller.DeleteBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookController</servlet-name>
    <url-pattern>/deletebookcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookController</display-name>
    <servlet-name>EditBookController</servlet-name>
    <servlet-class>com.controller.EditBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookController</servlet-name>
    <url-pattern>/editbookcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpdateController</display-name>
    <servlet-name>BookUpdateController</servlet-name>
    <servlet-class>com.controller.BookUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdateController</servlet-name>
    <url-pattern>/bookupdatecontroller</url-pattern>
  </servlet-mapping>
</web-app>